.App {
  text-align: center;
  

 
}
body{
  background-image: url(../src/assets/Bg.png);
  padding: 0;
  margin: 0;
}
.headsection {
  
  /* height: 65vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../src/assets/Bg\ 2.1.png);
  background-repeat: no-repeat; */
  
}
.headsection2 {
  
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../src/assets/Bg\ 2.2.png);
  background-repeat: no-repeat;
  
}

.headsection3 {
  
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../src/assets/Bg\ 2.3.png);
  background-repeat: no-repeat;
  
}
strong{
  color: orange;
}

.btn{
  border: 2px solid orange;
  margin-top: 5px;
}

.btn1 {
  background-color: orange;
  
}
.get{
  color: white;
  font-weight: bolder;
}
span{
  padding: 0;
  margin: 0;
  font-size: xx-small;
}

